# Variables and first statements

Welcome to our python's beginner course !

## The print function

Before we start you need to know how to run cells: either select the cell and press ctr + enter (cmd + enter if you are on Mac) or click on the arrow on the left of the cell or go to run --> run selected cell. Try this on the code below!

In [ ]:
print("Hello World")

Wow !! You just run you first line of code! But what exactly happened?
**print** is a function (we'll see what a function is later) and **"Hello World"** is a string, that is a sequence of characters.
The print function just allow you to display things on your screen.

## Data types

Python has many data types and each of them has its own characteristics and properties. In this section, we will discuss the most basic ones: the **integers**, the **floating points** and the **strings**.

![data_types](1_QfI8H_8HplGa1v9IrrWjBA.png
)

This is an overview of all the different data types there are in Python. The first column is the name of the data type, the second column is the short name we use in Python to refer to that type.

### The integers, floats and your new favorite calculator

#### 1) Integers

The integers (int) are **whole number** (so they have no decimal points) Examples of integers are -12, 5, 10525. You can check that a number is an integer by using the function **type**.

In [ ]:
# We check that 3 is an integer
type(3)

In [ ]:
# We check that 0 is an integer
type(0)

Here is a small exercise where you need to use the function type to check if a number is an int or not.

In [ ]:
# Is -25 an integer? What about 1.0?
# code below ....
type()

1.0 is not an integer because of the decimal in the number! As you can see its type is **float**

#### 2) Floats

On the other hand, **floats** are numbers with decimals. 3.14, -0.534, 10524.3 are floats

In [ ]:
type(3.14)

In [ ]:
type(-25.2365687)

In [ ]:
1.3e6

You can also write your numbers in scientific form (where ep = 10^p)

#### 3) Calculator

Now that you know that Python supports numbers you are ready to use Python as a pocket calculator!

In [ ]:
# addition

5+3

In [ ]:
# substraction

10-2

In [ ]:
# division

10/5

In [ ]:
# multiplication

8*9

In [ ]:
# power

2**4

In [ ]:
# you can use ** to compute square root

4**0.5

In [ ]:
# a strange operation at first !

print(10 % 2)
print(31 % 2)

**%** is the **modulo operator**, a%b is equal to the remainder of the (Euclidiean) division of a by b. Since 10 = 2 x 5 + **0**, then 10 % 5 = 0. Similarly, 31 = 2 x 15 + **1**, hence 31 % 2 = 1

In [ ]:
# Small exercise : how can you check using the modulo operator if an integer is even or odd? Check that 321 is odd and 456 even!
# type  you code in this cell !

In [6]:
#how can you check if an integer is divisble by 216 ? Is 1512 divisible by 216 ?

In [ ]:
# what is the output going to be
42 // 10

In [ ]:
16 // 4

**//** is the **floor division** operator. We truncate the result and keep only its whole part. <br>For example if  a/b = 152.45 then a // b = 152. <br>  In the above example, 10 // 2 = 5 since 10/2 = 5 and 31 // 2 = 15 since 31/2 = 15.5.

At some point, you might need to use all these operations together and knowing the operation priorities can be useful. This is not too complicated since it is the same as when you are doing mathematics

In [ ]:
# example
5+3/4

In [ ]:
(5+3)/4

Here is a link to operation priorities :
 
<a> http://mathsfirst.massey.ac.nz/Algebra/OrderOfOp/orderAlg.htm#:~:text=.If%20an%20expression%20involves%20two%20or%20more%20operations,have%202nd%20prioity%20whereas%20multiply%20has%203rd%20priority <a>

A small exercise before starting next section! A Qjump for Smack costs £6 but it is black Friday and there is a 20% discount on the Qjump ticket. How much will cost the ticket now?. The formula for this is $price(1 - discount/100)$

In [ ]:
# calculate the discounted price

### Introduction to strings

Strings (str) are sequence of characters. "Hello World" is an example of a string. Strings are usually enclosed in single quote (') or in double quotes (")

In [ ]:
# we can check that a sequence of characters is a string
type("Hello World")

In [ ]:
# same string using single quote
type('Hello World')

In [ ]:
# do not forget the quotes or you will get an error!
Hello World

In [ ]:
# With triples quotes you can write your string on multiple lines. Cannot do this with single or double quotes!
"""I am learning coding 
and this is currently session 1"""

In [ ]:
# Is this a string or an integer ?

type("2")

In [ ]:
# try to run this cell ! 
'I'm here'

We get an error because Python thinks the **'** of *I am* signifies the end of the string. Here you want to use double or triple quotes !

In [ ]:
# No error here
"I'm here"

## What is a variable ?

Variables allow you to store information that you can reuse later in your code by calling its name.

### Create your first variables

In [ ]:
# we create variable a that stores the integer 5. We use = to assign value
a = 5

# Here I call the variable using its name
print(a)

In [ ]:
# another example
my_name = "Georges"
print(my_name)

In Python we can **overwrite** variables. This means we can assign to a variable a new value.

In [ ]:
my_name = "Georges"
my_name = "Thomas"

print(my_name)

### Rules to create variables

There are some rules to follow when you create variables:<br>
- variable names are composed of letters and digits and must start by a letter. <br>
- you cannot use accent letters (é, è, à,...) to name your variables. <br>
- there are words that are reserved by python (and, or, as, assert, break, class, continue, def...) and you cannot use them to name your variables.

There are also rules that are follow by most developpers and that increase readability of your code. <br>
We start variable names with lower case letter (and not upper case!) and try to give a name that tells what information your variable store. We usually use only lower case letters except if the variable name is very long.
You will call a variable that stores your age **my_age** and a variable that store your house wifi password **houseWifiPassword** or **house_wifi_password** for example.

<div class="alert alert-block alert-info">
<b>Note:</b> variable names are case sensitive. Hence mYname, myname, myName are all different variables!
</div>

In [ ]:
# small exercise: create variables that will contain your name, age, address

### Dynamic typing

One of Python's specificity is **dynamic typing**. This means you can reassign variables to different data types

In [ ]:
# this code does not produce any error
a = 5

a = " the letter a"             # a is now a string

print(a)                        # we can check what value is a with a print

<div class="alert alert-block alert-info">
<b>Note:</b> Other languages are "statically-typed" and hence the above code would have produced an error
</div>

The fact that Python is dynamically typed means you need to be aware of what the type of your variable is. You can use the function type() to check a variable's type.

In [ ]:
type(a)

## Combining everything we learnt so far

### Variables and Operations with numbers

Usually we want our code to be flexible but robust at the same time. Going back to the previous exercise where you have to compute the discounted price. What if instead of having a 20% discount we have a 30% discount ? In this case, we don't want to have to write our code again. Instead we will use variables.

In [ ]:
# create the variable that will store the price ticket
price_ticket = 6
#discount in percent
discount = 20

# computations using variable names instead of quoting the numbers directly every time
discounted_price = price_ticket*(1-discount/100)

print(discounted_price)

Now if you want to calculate the discounted price when the dscount is 30% you just need to change discount to 30

In [ ]:
# more examples!
# try to guess the output before running the cell !!

a = 5
b = 10

# example 1
c = a - 2 + b

print(f"Example 1 output: {c}")

# example 2
c = a * b

print(f"Example 2 output: {c}")

# example 3
c = a ^ b

print(f"Example 3 output: {c}")

# example 4
a = a + 5

print(f"Example 4 output: {a}")

# example 5
a -= 5

print(f"Example 5 output: {a}")

# example 6
a += 1

print(f"Example 6 output: {a}")

I will explain example 4, 5 and 6 here. <br>
In example 4, we assign to **a** the value **a + 5**. What is a equal to? 5! and 5 + 5 = 10 so now a = 10. <br>
In example 5, **a-=5** is the same as **a = a - 5**. Developpers often use this shortcut for consiceness and readability. <br>
Similarly, a+=1 means a = a + 1 in example 6

In [ ]:
# small exercise: guess the output ! 

a = 5

a *= 2
print(a)

a /= 2
print(a)

### Operations of strings

We can do a few **operations** with strings:

In [ ]:
# duplicate the string
"abc" * 5

In [ ]:
# concatenate strings
"abc" + "def"

In [ ]:
first_name = "Bill"
last_name = "Gates"

full_name = first_name + last_name
print(full_name)

It would be better if there was a space between first name and last name. Let me fix that !

In [ ]:
# We add a space between first_name and last_name
full_name = first_name + " " + last_name
print(full_name)

You can also do this directly inside the print function !

In [ ]:
print(first_name + " " + last_name)

## Exercises

**Exercise 1** : create variables that will store your student id (in the form u194353), you department, your course, your first name, your last name.<br>
Then print all these information to the screen. An example of output could be *Hi, I am Adam Smith, I am currently studying PPE from the Econ department and my student id is u1924354*

In [ ]:
#type your code here

**Exercise 2**: I'm going to Miami next week to actually see something else than clouds and rain. Weather forecast says the temperature is going to be 100 F°. <br>
Convert the temperature in Celcius so I can decide if I bring my swimsuit.<br>
The formula is $ Celsius = 5 * (Fahrenheit - 32)$

In [ ]:
#type your code here

**Exercise 3** : Print 'code' 50 times

In [ ]:
#type your code here

## We hope you enjoy your first Python lesson ! Please, feel free to give us feedback on what you think we could improve, what you did not understand and might be explained better... You can email us at warwickcodingsociety@gmail.com. Don't forget to write *Content/Python Course* as subject line <br>
## Thank you!!